body{
    height: 100vh;
}

main{
    gap: 2rem;
}

h3{
    text-align: center;
    text-justify: center;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

.card{
    text-align: center;
    height: auto;
    min-height: unset;
    max-width: 90%;
}

.card button{
    height: 3rem;
    width: 10rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.flexible{
    flex-grow: 1;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.content p{
    text-align: center;
    max-width: unset;
    margin-left: 1rem;
    margin-right: 1rem;
}
.cerf-logo{
    margin-top: 1rem;
}

img{
    object-fit: contain;
}

@media (min-width: 850px) {
    
    .container{
        display: flex;
        justify-content: center;
        height: 90vh;
        margin-bottom: 2rem;
        margin-top: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    main{
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .card{
        max-width: 300px;
    }

    .harv{
        order: 2;
    }

    .res{
        order: 1;
    }

    .ui{
        order: 3;
    }
}